<ion-content>
  <div class="menubox" >
    <img src="assets/logisticMobileIcon/Signuploginimage.svg" alt="menu">
    <div class="overlay">     
      <div class="txt">
        <div style="padding: 34px;"></div>  
        <p>Hello, nice to meet you!</p>
        <h4>Please select your preferred action</h4>
<div style="padding: 150px;"></div>
        <div class="bottomvertPos">
          <ion-button class="pryColor " expand="block" fill="fill">I WANT TO PLACE AN ORDER</ion-button>
         <div style="padding: 5px;"></div>
          <ion-button class="secColor" expand="block" fill="fill">I'M A RIDER</ion-button>
        </div>
      </div>
    </div>
    </div>

</ion-content>
