<ion-content>
  <div style="padding-top:50px;"></div>
  <div style="padding: 25px;">
    <div style="padding: 50px;"></div>
    <div style="text-align: center;">
      <img src="assets/images/fulllogo.png" style="height:85px; width: 187px;">
    </div>

      <div style="padding:120px;"></div>
      <div style="text-align:center;z-index:1000; width:100%;">
        <ion-button (click)="gotoplaceorder('customer')" class="pryColor " expand="block" fill="fill">I WANT TO PLACE AN ORDER</ion-button>
        <div style="padding: 5px;"></div>
         <ion-button (click)="gotoriderorder('rider')" class="secColor" expand="block" fill="fill">I'M A RIDER</ion-button>
      </div>
  </div>

</ion-content>
