<ion-header class="zindex">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1" style="color: #454F63;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headertitle" >About us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px;">
    <h5 ><b>ABOUT HOR LOGISTICS</b> </h5>
    <p>
      At HOR Logistics, we are dedicated to providing top-notch logistics services to people both in Nigeria and in diaspora. We work hard to make life easier and better by providing solutions to the many hitches that come with logistics. We do this through the variety of services we offer.
    </p>
    <p>Founded in 2017, we have rapidly grown and have now expanded our services to include Checkout assistance, International shipping from the UK and the US, and delivery services within Nigeria. We empower people through our Logistics Synergy programme, Fleet management and Mentorship programmes.</p>
  <p>With over five branches in Nigeria, we are strongly committed to providing fast, reliable, and affordable logistics services while providing valuable first-hand experiences for our customers. Over the years, we have been able to garner the trust of our customers because we are known to always deliver.</p>
  <p>By making our customers our best need, we are strategically positioning ourselves to become one of the leading logistics companies in Africa.</p>
  </div>
  
</ion-content>
