<ion-content>
  <ion-grid>
    <ion-row class="item-center">
      <ion-col size="7">
        <p style="font-size: 12;">Monday 16 Nov'19</p>
      </ion-col>      
    </ion-row>
    
    <div class="item-center">
      <h3>&#x20A6;154,750</h3>
    </div>

      
    <ion-row style="background:darkgray;">
      <p style="color: black;">TRIPS</p>
    </ion-row>

    <ion-row>
      <ion-col size=2>
        <span style="font-size: 14px; text-align: left;">3:32 <span class="trip-time">AM</span></span>
      </ion-col>
      <ion-col size=8>
        <span style="font-size: 14px; text-align: left;">Pembrode Dock</span>
        <ion-footer>Paid by Card</ion-footer>
      </ion-col>
      <ion-col size=2><span style="font-size: 12px; text-align:right;">&#x20A6;40</span></ion-col>  

      <ion-col size=2>
        <span style="font-size: 14px; text-align: left;">3:32 <span class="trip-time">AM</span></span>
      </ion-col>
      <ion-col size=8>
        <span style="font-size: 14px; text-align: left;">Pembrode Dock</span>
        <ion-footer>Paid by Card</ion-footer>
      </ion-col>
      <ion-col size=2><span style="font-size: 12px; text-align:right;">&#x20A6;40</span></ion-col>

      <ion-col size=2>
        <span style="font-size: 14px; text-align: left;">3:32 <span class="trip-time">AM</span></span>
      </ion-col>
      <ion-col size=8>
        <span style="font-size: 14px; text-align: left;">Pembrode Dock</span>
        <ion-footer>Paid by Cash</ion-footer>
      </ion-col>
      <ion-col size=2><span style="font-size: 12px; text-align:right;">&#x20A6;40</span></ion-col> 

      <ion-col size=2>
        <span style="font-size: 14px; text-align: left;">3:32 <span class="trip-time">AM</span></span>
      </ion-col>
      <ion-col size=8>
        <span style="font-size: 14px; text-align: left;">Allen Avenue</span>
        <ion-footer>Paid by Card</ion-footer>
      </ion-col>
      <ion-col size=2><span style="font-size: 12px; text-align:right;">&#x20A6;40</span></ion-col>

      <ion-col size=2>
        <span style="font-size: 14px; text-align: left;">3:32 <span class="trip-time">AM</span></span>
      </ion-col>
      <ion-col size=8>
        <span style="font-size: 14px; text-align: left;">Lagos Island</span>
        <ion-footer>Paid by Card</ion-footer>
      </ion-col>
      <ion-col size=2><span style="font-size: 12px; text-align:right;">&#x20A6;40</span></ion-col>

      <ion-col size=2>
        <span style="font-size: 14px; text-align: left;">3:32 <span class="trip-time">AM</span></span>
      </ion-col>
      <ion-col size=8>
        <span style="font-size: 14px; text-align: left;">Lekki Phase 1</span>
        <ion-footer>Paid by Cash</ion-footer>
      </ion-col>
      <ion-col size=2><span style="font-size: 12px; text-align:right;">&#x20A6;40</span></ion-col>
  </ion-row>

</ion-grid>
</ion-content>
