<ion-header class="zindex ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headertitle" >Help Center </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let faq of faqs" style="padding: 10px;">
    <div style="display: flex; font-weight: bold; line-height: 20px;"  (click)="toggle(faq)">
      <ion-label style="flex: auto; padding-right: 20px;">{{faq.question}}?</ion-label>
      <ion-icon *ngIf="!faq.show" name="add-outline"></ion-icon>
      <ion-icon *ngIf="faq.show" name="remove-outline"></ion-icon>
    </div>
    <!-- <div style="padding: 2px;"></div> -->
    <ion-label style="margin-top: 5px; white-space: pre-line;" *ngIf="faq.show">{{faq.answer}}</ion-label>
  </div>
</ion-content>
<ion-footer >
  <div style="text-align: center; width: 100%;">
    <ion-label style="text-align: center; width: 100%;">Need more help?</ion-label>
  </div>
 <div style="padding: 5px;"></div>
  <ion-button (click)="gotochat()" class="pryColor " expand="block" fill="fill">
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>&nbsp;CHAT WITH US
  </ion-button>


</ion-footer>