<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Single Product Order</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    
    <ion-grid [ngSwitch]="activetab">
      <ion-row>
        <ion-col>
          <ion-button [disabled]="productDescriptionPanel" expand="block" class="localdelivery" fill="clear" (click)="myfunction(product_description)" #product_description>
            <ion-img src="assets/images/pickup.png" class="myicons" slot="start"></ion-img>
            <p class="localheader">Product Description</p>
          </ion-button>
        </ion-col>
      </ion-row>
        
      <div *ngSwitchCase="product_description">
          <ion-grid style="padding: 10px;">
            <form name="product_descriptionForm" id="product_descriptionForm" #product_descriptionForm="ngForm">
              <div style="padding: 5px;"></div>
              <ion-input (keyup)="validateProductDescriptionForm()" type="text" #product_name="ngModel" name="product_name" placeholder="Product Name" [(ngModel)]="product_desc.product_name" required></ion-input>
              <div *ngIf="product_name.invalid && (product_name.dirty || product_name.touched)" class="error">
              <div *ngIf="product_name.errors.required">Product name is required</div>
              </div>
              
              <div style="padding: 5px;"></div>
              <ion-input (keyup)="validateProductDescriptionForm()" type="text" #product_url="ngModel" name="product_url" placeholder="Product URL" [(ngModel)]="product_desc.product_url" required></ion-input>
              <div *ngIf="product_url.invalid && (product_url.dirty || product_url.touched)" class="error">
              <div *ngIf="product_url.errors.required">Product URL is required</div>
              </div>

              <div style="padding: 5px;"></div>
              <ion-input (keyup)="validateProductDescriptionForm()" type="number" #quantity="ngModel" name="quantity" placeholder="Quantity" [(ngModel)]="product_desc.quantity" required></ion-input>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="error">
              <div *ngIf="quantity.errors.required">Quantity is required</div>
              </div>

              <div style="padding: 5px;"></div>
              <ion-input (keyup)="validateProductDescriptionForm()" type="text" #delivery_type="ngModel" name="delivery_type" placeholder="Delivery Type" [(ngModel)]="product_desc.delivery_type" required></ion-input>
              <div *ngIf="delivery_type.invalid && (delivery_type.dirty || delivery_type.touched)" class="error">
              <div *ngIf="delivery_type.errors.required">Delivery type is required</div>
              </div>

              <div style="padding: 5px;"></div>
              <ion-input (keyup)="validateProductDescriptionForm()" type="text" #product_colour="ngModel" name="product_colour" placeholder="Colour" [(ngModel)]="product_desc.color" required></ion-input>
              <div *ngIf="product_colour.invalid && (product_colour.dirty || product_colour.touched)" class="error">
              <div *ngIf="product_colour.errors.required">Color is required</div>
              </div>

              <div style="padding: 5px;"></div>
              <ion-input (keyup)="validateProductDescriptionForm()" type="text" #product_size="ngModel" name="product_size" placeholder="Size" [(ngModel)]="product_desc.size" required></ion-input>
              <div *ngIf="product_size.invalid && (product_size.dirty || product_size.touched)" class="error">
              <div *ngIf="product_size.errors.required">Size is required</div>
              </div>
            </form>
          </ion-grid>
        </div>

        <ion-col>
        <ion-button [disabled]="deliveryDetailsPanel" expand="block" class="localdelivery" fill="clear" (click)="myfunction(delivery_details)" #delivery_details>
          <ion-img src="assets/images/plane.png" class="myicons"></ion-img>
          <p class="localheader">Delivery Details</p>
        </ion-button>
        </ion-col>
        
        <div *ngSwitchCase="delivery_details">
          <ion-grid style="padding: 10px;">
          <p>Do you want home delivery?</p>
            <ion-row style="background-color: cornsilk;">
              <ion-col>
                   <ion-item lines="none">  
                    <ion-checkbox slot="start" class="checker" [checked]="checkedIdx" [(ngModel)]="product_desc.home_delivery" (ionChange)="yesfn($event); myoption($event)" value="yeshome" #yeshome></ion-checkbox>
                      <ion-label>Yes</ion-label>
                 </ion-item>
               </ion-col>         
              <ion-col>
                  <ion-item lines="none"> 
                    <ion-checkbox slot="start" class="checker" [checked]="!checkedIdx" [(ngModel)]="product_desc.home_delivery"  (ionChange)="nofn($event)" value="nohome" #nohome></ion-checkbox>
                      <ion-label>No</ion-label>
                 </ion-item>
              </ion-col>
            </ion-row>
              <div style="padding: 5px;"></div>
              <ion-input type="text" (keyup)="validateDeliveryDetailsForm()" (ionChange)="validateDeliveryDetailsForm()" value="yes_home" [(ngModel)]="product_desc.home_delivery" #delivery_state="ngModel" name="delivery_state" placeholder="Delivery Address" required></ion-input>
              <div *ngIf="delivery_state.invalid && (delivery_state.dirty || delivery_state.touched)" class="error">
              <div *ngIf="delivery_state.errors.required">State is required</div>
              </div> 
              
              <div style="padding: 5px;"></div>
              <ion-input type="text" (keyup)="validateDeliveryDetailsForm()" (ionChange)="validateDeliveryDetailsForm()" value="yes_home" [(ngModel)]="product_desc.home_delivery" #delivery_location="ngModel" name="delivery_location" placeholder="Delivery Location" required></ion-input>
              <div *ngIf="delivery_location.invalid && (delivery_location.dirty || delivery_location.touched)" class="error">
              <div *ngIf="delivery_location.errors.required">Location is required</div>
              </div>
  
              <div style="padding: 5px;"></div>
              <ion-input type="text" (keyup)="validateDeliveryDetailsForm()" (ionChange)="validateDeliveryDetailsForm()" value="yes_home" [(ngModel)]="product_desc.home_delivery" #delivery_address="ngModel" name="delivery_address" placeholder="Delivery Address" required></ion-input>
              <div *ngIf="delivery_address.invalid && (delivery_address.dirty || delivery_address.touched)" class="error">
              <div *ngIf="delivery_address.errors.required">Delivery Address is required</div>
              </div>
            
            <div *ngIf="nohome">
              <ion-select placeholder="Lagos Pickup" name="lagos_location" class="select" placeholder="Lagos Pickup" required>
                <ion-select-option value="withinLag">Ikeja</ion-select-option>
                <ion-select-option value="withinIB">Lekki</ion-select-option>
                <ion-select-option value="withinAbj">Maryland</ion-select-option>
              </ion-select>
            </div>
            
          </ion-grid>
        </div>
        <div style="background-color: cornsilk;">{{ diagnostic }}</div>
    <div style="display:flex; padding: 8px;">
      <ion-button class="cta1" expand="block" fill="outline">
        <ion-label>Cancel</ion-label>
      </ion-button>
      <ion-button class="cta" expand="block" fill="default">
        <ion-label>Apply</ion-label>
      </ion-button>
    </div></ion-grid>
  </ion-content>
