<ion-header class="ion-no-border"> 
  <ion-toolbar>    
  <ion-title style="text-align: center;">{{routeField}} Update </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:15px;">
    <ion-input *ngIf="routeField == 'Full Name'"    
    placeholder="{{routeField}}" type="text"  [(ngModel)]="fieldValue"></ion-input>

    <ion-select *ngIf="routeField == 'Country' || routeField == 'State' || routeField == 'Bus-stop'" 
    placeholder="{{routeField}}" [(ngModel)]="fieldValue">
      <ion-select-option *ngFor="let item of listData" value="{{item.id}}">{{item.name}}</ion-select-option>
    </ion-select>

    <ion-textarea rows="6" *ngIf="routeField == 'Landmark' || routeField == 'Address'"
    placeholder="{{routeField}}" type="text"  [(ngModel)]="fieldValue">

    </ion-textarea>



     
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button (click)="update()" class="pryColor " expand="block" fill="fill">SAVE</ion-button>
  <div style="padding:5px;"></div>
  <ion-button expand="block"  class="blacksecColor" (click)="goback()">
    Cancel
  </ion-button>
</ion-footer>