.cta1 {
    --background:#FFFFFF;
    --color: #454F63;
    --border-color:#454F63;
    --border-width: 0.5px;
    font-size: 14px;
    width: 70%;
    display: block;
    --border-radius: 4px;
    opacity: 100%; 
    text-transform: uppercase;
}

.cta {
    --background:#EF6102;
    --color: #fff;
    font-size: 14px;
    width: 70%;
    display: block;
    --border-radius: 4px;
    opacity: 100%; 
    text-transform: uppercase;
}