.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 3px;
}
 
.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}
 
.my-message {
    background: #A1A3AC80;
    color: #313131;
}
 
.other-message {
    background: #EF6102;
    border: 1px solid #A1A3AC;
    color: #fff;
}
 
.time {
    color: #c0bdbd;
    float: right;
    font-size: small;
}