
<app-page-structure title="Orders">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-segment [(ngModel)]="selectedSegment" #ionsgmnt (ionChange)="segmentChanged(ionsgmnt.value)" >
    <ion-segment-button [value]="SEGMENTS.PENDING">
      <ion-label style="color: #EF6102;">PENDING</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="SEGMENTS.APPROVED">
      <ion-label style="color: #049B1B;">COMPLETED</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button [value]="SEGMENTS.REJECTED">
      <ion-label style="color: #E1440B;">REJECTED</ion-label>
    </ion-segment-button> -->
  </ion-segment>
  <ion-label *ngIf="filteredLocalBookings.length">
    <small>no order record found</small>
  </ion-label>
  <div *ngFor="let booking of filteredLocalBookings" >
    <ion-label>
      <div style="color: #78849E; opacity: 0,45; margin-top: 20px; margin-left: 16px; margin-bottom: -7px;">
        {{booking.deliveryDate | date : 'MMM d - h:mm a'}}
      </div>
    </ion-label>
    <ion-card>    
      <ion-card-content>
        <ion-row>
          <ion-col style="display: flex">
            <div style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">
              <div class="starting-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <!-- <div class="middle-point"></div> -->
              <!-- <div class="middle-point"></div> -->
            </div>
            <div style="width: 100%;">
              <h6>Pickup Location</h6>
              <span>{{booking.pickUpAddress}}</span>
              <hr style="background-color:  #00000005; margin: 0px;"/>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="display: flex">
            <div style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: -6px; height: 19px;">
              <div class="middle-point top">
                <span></span>
              </div>
              <div class="middle-point top">
                <span></span>
              </div>
              <div class="starting-point">
                <span></span>
              </div>
            </div>
            <div>
              <h6>Destination Location</h6>
              <span>{{booking.deliveryAddress}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <h6>Order Status <span [style.color]="statusColor.pending"><ng-template [ngIf]="booking.bookingStatus">{{booking.bookingStatus.name}}</ng-template>
            </span></h6>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="![4,5].includes(booking.bookingStatusId)">
          <ion-col >
           <span *ngIf="![5,2,9].includes(booking.bookingStatusId)">
            <a 
            *ngIf="booking.paymentTypeId == 3 || booking.paymentTypeId == 4"
            angular4-paystack
            [email]="AuthenService.globalUserEmail"
            [amount]="(booking.totalCost) * 100"
            [ref]="reference"
            [class]="'btn btn-primary'"
            (paymentInit)="paymentInit()"
            (close)="paymentCancel()"
            (callback)="paymentDone($event)"
            [channels]="booking.paymentTypeId == 3 ? ['bank'] : ['card']"
          
            href="javascript:void(0)"
            style="color: #EF6102;font-size: 12px;"
          >
            Make Payment
                  </a>
          <a 
          *ngIf="booking.paymentTypeId == 1 || booking.paymentTypeId == 2"
              (click)="openBankInfo()"
              href="javascript:void(0)"
              style="color: #EF6102;font-size: 12px;"
            >
              Bank Info
                    </a>
                    <a 
          *ngIf="booking.paymentTypeId == 5"
              href="javascript:void(0)"
              style="color: #EF6102;font-size: 12px;"
            >
             Wallet Payment
                    </a>
                  </span>
                  <span *ngIf="![11,7,1,12,8].includes(booking.bookingStatusId)" style="color: #049B1B;font-size: 12px;">
                  Paid
                  </span>
                  <span *ngIf="[11,7,1,12,8].includes(booking.bookingStatusId) " style="color: #b9b7b5;font-size: 12px;">
                   Payment
                    </span>
          </ion-col>
          <ion-col >
            <span *ngIf="![3,4].includes(booking.bookingStatusId)" style="color: #b9b7b5;font-size: 12px;">Track</span>
            <a *ngIf="[3,4].includes(booking.bookingStatusId)" href="javascript:void(0)" style="color: #EF6102;font-size: 12px;text-align: center;"  (click)="gototripdetails(booking.bookingNumber)">Track</a>
          </ion-col>
          <ion-col size="2">
            <a href="javascript:void(0)" (click)="selectLocalBooking(booking)" style="color: #EF6102;font-size: 14px;float: right;">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </a>            
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngFor="let booking of filteredInternationalBookings" >
    <ion-label>
      <div style="color: #78849E; opacity: 0,45; margin-top: 20px; margin-left: 16px; margin-bottom: -7px;">
        {{booking.trackingNumber}}
      </div>
    </ion-label>
    <ion-card>    
      <ion-card-content>
        <ion-row>
          <ion-col style="display: flex">
            <div style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">
              <div class="starting-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <div class="middle-point">
                <span></span>
              </div>
              <!-- <div class="middle-point"></div> -->
              <!-- <div class="middle-point"></div> -->
            </div>
            <div style="width: 100%;">
              <h6>Pickup Location</h6>
              <span>{{booking.pickupAddress || booking.country}}</span>
              <hr style="background-color:  #00000005; margin: 0px;"/>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="display: flex">
            <div style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: -6px; height: 19px;">
              <div class="middle-point top">
                <span></span>
              </div>
              <div class="middle-point top">
                <span></span>
              </div>
              <div class="starting-point">
                <span></span>
              </div>
            </div>
            <div>
              <h6>Destination Location</h6>
              <span>{{booking.deliveryAddress || 'Nigeria'}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="11">
            <h6>Order Status <span [style.color]="statusColor.pending"><ng-template [ngIf]="booking.bookingStatus">{{booking.bookingStatus.name}}</ng-template>
            </span></h6>
          </ion-col>
          <ion-col size="1">
            <a href="javascript:void(0)" (click)="selectInternationalBooking(booking)" style="color: #EF6102;font-size: 14px;float: right;">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </a>            
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</app-page-structure>