ion-toolbar {
    --background: #FFFFFF;
   --border-style: none;
   
}

.section-header{
    color: #282F39;
    background-color: #F2F5F7;
    font-weight: 500;
  }
  

.order-summary > *{
    padding: 10px;
}