<ion-header class="zindex">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1" style="color: #454F63;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headertitle" >Order Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="padding: 25px;">
  <ion-row>
    <ion-col size="1">
      <ion-icon name="ellipse" style="color:#444F63;"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <ion-label>{{orderDetails.pickUpAddress}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">
      <ion-icon name="square" style="color: #FFB900;"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <ion-label>{{orderDetails.deliveryAddress}}</ion-label>
    </ion-col>
  </ion-row>
<div style="padding: 10px;"></div>
  <ion-row>
    <ion-col size="6" >
    <ion-label style="color: #444F63;font-size: 16px;">Order Status:</ion-label>
    </ion-col>
    <ion-col size="6" >
      <ion-label style="color: #EF6102;font-size: 16px;">  <ng-template [ngIf]="orderDetails.bookingStatus">{{orderDetails.bookingStatus.name}}</ng-template>
      </ion-label>
    </ion-col>
  </ion-row>
</div>

<app-maproutecomponent [location]="trackingDetails"></app-maproutecomponent>


<div style="width: 100%;text-align: center;">
  <div style="padding: 1px;"></div>
<h3 style="color: #444F63;font-weight: bolder;">N{{orderDetails.totalCost}}</h3>
<h6 style="color: #7F7F7F;">Payment made sucessfully by Card</h6>
</div>
</ion-content>
