<app-page-structure title="Summary">
  <div class="main-container">
    <app-list-item shape="circle"> {{booking.pickUpAddress}}</app-list-item>
    <app-list-item shape="square"> {{booking.deliveryAddress}}</app-list-item>
    <app-maproutecomponent></app-maproutecomponent>
    <!-- <div *ngFor="let booking of bookings"> -->
    <div  class='section-header' style="display: flex; justify-content: space-between">
      <span *ngIf="bookings.length == 1" style="padding-left: 0px;">LOCAL PICKUP</span>
      <span *ngIf="bookings.length > 1" style="padding-left: 0px;">ORDER {{selectedBookingIndex + 1}} OF {{bookings.length}}</span>
      <div *ngIf="bookings.length > 1" (click)="showNextBooking()" style="padding-right: 0px; color: #EF6102">
        NEXT ORDER <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
      <!-- <div *ngIf="bookings.length > 1" (click)="showPrevBooking()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div> -->
    </div>
    <!-- <app-list-key-value>
      <span title>Order Number</span>
      <span value>Oyinkansola</span>
    </app-list-key-value> -->
    <!-- <app-list-key-value>
      <span title>Pick up Date & Time</span>
      <span value>{{booking.pic}}</span>
    </app-list-key-value> -->
    <app-list-key-value>
      <span title>Sender’s Name</span>
      <span value>{{booking.senderName}}</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Receiver’s Name</span>
      <span value>{{booking.recipientName}}</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Sender’s Number</span>
      <span value>{{booking.phoneNumber}}</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Receiver’s Number</span>
      <span value>{{booking.recipientPhoneNumber}}</span>
    </app-list-key-value>
    <app-list-key-value *ngIf="booking.estimatedPackageWeight > 1">
      <span title>Estimated Package Weight</span>
      <span value>{{booking.estimatedPackageWeight}}KG</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Package bigger than Indomie carton</span>
      <span value>{{booking.numberOfPackages > 1 ? 'Yes' : 'No'}}</span>
    </app-list-key-value>
    <ng-template [ngIf]="!booking.id">
      <div class="bg-secondary" style="padding: 0px;">
        <app-list-key-value class="payment" style="margin-top: 5px; margin-bottom: 5px;">
          <span title>Pickup cost</span>
          <span value>{{bookingCost.getDeliveryCost() | currency: 'NGN' }}</span>
        </app-list-key-value>
        <app-list-key-value class="payment" style="margin-top: 5px; margin-bottom: 5px;">
          <span title>Insurance Cost</span>
          <span value>{{bookingCost.getInsuranceCost() | currency: 'NGN'}}</span>
        </app-list-key-value>
        <app-list-key-value class="payment" style="margin-top: 5px; margin-bottom: 5px;">
          <span title>Payment on extra weight</span>
          <span value>
            {{bookingCost.getExtraWeightCost() | currency: 'NGN'}}
          </span>
        </app-list-key-value>
        <app-list-key-value class="payment" style="margin-top: 5px; margin-bottom: 5px;">
          <span title>Your payment</span>
          <span value>{{bookingCost.getTotalCost() | currency: 'NGN'}}</span>
        </app-list-key-value>
      </div>
      <ion-row>
        <ion-col size="6">
          <ion-button class="cta1" expand="block" fill="outline">
            <ion-label>Cancel</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" expand="block" (click)="SubmitBookings()">
            <ion-label>Submit</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </div>
  <!-- </div> -->
</app-page-structure>