<app-page-structure title="Summary">
  <div class="main-container">
    <app-list-item shape="circle"> 1 Ash Park, Pembroke Dock, SA72</app-list-item>
    <app-list-item shape="square"> 54 Hollybank Rd, Southampton</app-list-item>
    <app-maproutecomponent></app-maproutecomponent>
    <div  class='section-header'>
      LOCAL PICKUP
    </div>
    <app-list-key-value>
      <span title>Order Number</span>
      <span value>Oyinkansola</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Estimated Pickup Time</span>
      <span value>5Lbs</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Package bigger than Indomie carton</span>
      <span value>30,000</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Pick up Date & Time</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Sender’s Name</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Receiver’s Name</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Receiver’s Number</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <div class="bg-secondary">
      <app-list-key-value class="payment" style="margin-top: 5px; margin-bottom: 5px;">
        <span title>Your payment</span>
        <span value>14 Feb'19 at 9:42am</span>
      </app-list-key-value>
      <div style="display:flex; justify-content: center;">
        <ion-button class="cta1" expand="block" fill="outline">
          <ion-label>Cancel</ion-label>
        </ion-button>
        <ion-button color="primary">
          <ion-label>Pay</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</app-page-structure>