<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Local Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="localdelivery" [routerLink]="['/localdelivery/single']" fill="clear" #singleorder>
          <ion-img src="assets/images/pickup.png" class="myicons" slot="start"></ion-img>
          <p class="localheader">Single Order</p>
        </ion-button>
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col>
      <ion-button expand="block" class="localdelivery" [routerLink]="['/localdelivery']" fill="clear" #multiplebooking>
        <ion-img src="assets/images/delivery.png" class="myicons"></ion-img>
        <p class="localheader">Multiple Booking</p>
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>