<app-page-structure title="International Pickup">
  <div class="main-container">
    <app-list-item shape="circle"> 1 Ash Park, Pembroke Dock, SA72</app-list-item>
    <app-list-item shape="square"> 54 Hollybank Rd, Southampton</app-list-item>
    aaaaaaaaaaaaaaa
    <div  class='section-header'>
      INTERNATIONAL PICKUP
    </div>
    <app-list-key-value>
      <span title>Receiver’s Name</span>
      <span value>Oyinkansola</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Estimated Package Weight</span>
      <span value>5Lbs</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Value of Package</span>
      <span value>30,000</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Date & Time</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Service Type</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <div class='section-header'>
      SHIPPING COST SUMMARY
    </div>
    <app-list-key-value>
      <span title>Admin Fee</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Charge per unit weight (Lbs)</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Estimated Package Weight</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value>
      <span title>Charge for Package (Import) (USA)</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <app-list-key-value class="payment" style="margin-top: 5px; margin-bottom: 5px;">
      <span title>Your payment</span>
      <span value>14 Feb'19 at 9:42am</span>
    </app-list-key-value>
    <p>
      Note that the prices quoted here is an estimate based on the estimated weight you entered. The amount to be billed will be different and will either be volume or actual weight.
      <br/><br/>Please also make provision for an extra unit weight for packaging
    </p>
    <div style="display:flex; justify-content: center;">
      <ion-button class="cta1" expand="block" fill="outline">
        <ion-label>Cancel</ion-label>
      </ion-button>
      <ion-button color="primary">
        <ion-label>Pay</ion-label>
      </ion-button>
    </div>
  </div>
</app-page-structure>