
.menuWrapper{
    --border: none !important;
    --ion-background-color: transparent !important;
    --ion-background: transparent !important;
    --background: transparent !important;
    background: transparent !important;
    --side-width: 200px !important;
    box-shadow: rgba(0, 0, 0, 0) 4px 0px 16px !important;
}

.menuWrapper .menu-type-overlay .menu-inner {
    box-shadow: rgba(0, 0, 0, 0) 4px 0px 16px;
}

.profileSection{
    width: 100%;
    background: url('/assets/images/menuProfileBg.png') 0 0/100% 100% no-repeat;
 
}
ion-avatar{
    --border-radius:4px;
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
}

  
ion-avatar img {
    width: 100%;
    height: auto;
  }