<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Single Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid [ngSwitch]="activetab">
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="localdelivery" fill="clear" (click)="myfunction(pickup)" #pickup>
          <ion-img src="assets/images/pickup.png" class="myicons" slot="start"></ion-img>
          <p class="localheader">Pickup Details</p>
        </ion-button>
      </ion-col>
    </ion-row>
    
      <div *ngSwitchCase='pickup'>
    <form name="pickup_detailsForm" #pickup_detailsForm="ngForm">
      <ion-grid>
          <ion-select placeholder="Booking Category" name="booking_category" class="select" [(ngModel)]="pickup_details.booking_category" #booking_category="ngModel" required>
            <ion-select-option value="withinLag">Within Lagos</ion-select-option>
            <ion-select-option value="withinIB">Within Ibadan</ion-select-option>
            <ion-select-option value="withinAbj">Within Abuja</ion-select-option>
            <ion-select-option value="LagtoIB">Lagos to Ibadan</ion-select-option>
            <ion-select-option value="LagtoAbj">Lagos to Abuja</ion-select-option>
          </ion-select>
          <div *ngIf="booking_category.invalid && (booking_category.dirty || booking_category.touched)" class="error">Please select booking category</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" placeholder="Name" [(ngModel)]="pickup_details.pickup_name" name="pickup_name" #pickup_name="ngModel" required></ion-input>
          <div *ngIf="(pickup_name.touched || pickup_name.touched)  && pickup_name.invalid" class="error">Please enter the name</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" placeholder="Address" [(ngModel)]="pickup_details.pickup_address" name="pickup_address" #pickup_address="ngModel" required></ion-input>
          <div *ngIf="(pickup_address.touched  || pickup_address.dirty) && pickup_address.invalid" class="error">Please enter the address</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" placeholder="Phone" [(ngModel)]="pickup_details.pickup_phone" name="pickup_phone" #pickup_phone="ngModel" required></ion-input>
          <div *ngIf="(pickup_phone.touched || pickup_phone.dirty) && pickup_phone.invalid" class="error">Please enter the phone number</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" placeholder="Pickup Landmanrk" [(ngModel)]="pickup_details.pickup_landmark" name="pickup_landmark" #pickup_landmark="ngModel" required></ion-input>
          <div *ngIf="(pickup_landmark.touched || pickup_landmark.dirty) && pickup_landmark.invalid">Please enter the landmark</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" placeholder="Closest Bus Stop" [(ngModel)]="pickup_details.pickup_busstop" name="pickup_busstop" #pickup_busstop="ngModel" required></ion-input>
          <div *ngIf="(pickup_busstop.touched || pickup_busstop.dirty) && pickup_busstop.invalid" class="error">Please enter the bus stop</div>
        </ion-grid>
  </form></div>
    
  <ion-row>
      <ion-col>
      <ion-button expand="block" class="localdelivery" fill="clear" (click)="myfunction(delivery)" #delivery>
        <ion-img src="assets/images/delivery.png" class="myicons"></ion-img>
        <p class="localheader">Delivery Details</p>
      </ion-button>
      </ion-col>
    </ion-row>
    <div *ngSwitchCase='delivery'>
      <ion-grid>
        <form name="delivery_detailsForm" #delivery_detailsForm="ngForm">
          <ion-datetime name="delivery_date" #delivery_date="ngModel" id="delivery_date" [(ngModel)]="local_delivery.delivery_date" displayFormat="MM DD YY" placeholder="Delivery Date" required></ion-datetime>
          <div *ngIf="(delivery_date.touched || delivery_date.dirty) && delivery_date.invalid" class="error">Please select date</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" name="delivery_name" #delivery_name="ngModel" placeholder="Receiver's Name" [(ngModel)]="local_delivery.delivery_name" required></ion-input>
          <div *ngIf="(delivery_name.touched || delivery_name.dirty) && delivery_name.invalid" class="error">Please enter name</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" name="delivery_address" #delivery_address="ngModel" placeholder="Address" [(ngModel)]="local_delivery.delivery_address" required></ion-input>
          <div *ngIf="(delivery_address.touched || delivery_address.dirty) && delivery_address.invalid" class="error">Please enter address</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" name="delivery_phone" #delivery_phone="ngModel" placeholder="Phone" [(ngModel)]="local_delivery.delivery_phone" required></ion-input>
          <div *ngIf="(delivery_phone.touched || delivery_phone.dirty) && delivery_phone.invalid" class="error">Please enter phone number</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" name="delivery_landmark" #delivery_landmark="ngModel" placeholder="Pickup Landmanrk" [(ngModel)]="local_delivery.delivery_landmark" required></ion-input>          
          <div *ngIf="(delivery_landmark.touched || delivery_landmark.dirty) && delivery_landmark.invalid" class="error">Please enter landmark</div>
          <div style="padding: 5px;"></div>
          <ion-input type="text" name="delivery_busstop" #delivery_busstop="ngModel" placeholder="Closest Bus Stop" [(ngModel)]="local_delivery.delivery_busstop" required></ion-input>
          <div *ngIf="(delivery_busstop.touched || delivery_busstop.dirty) && delivery_busstop.invalid" class="error">Please enter bus stop</div>    
        </form>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col>
      <ion-button expand="block" class="localdelivery" fill="clear" (click)="myfunction(package)" #package> 
        <ion-img src="assets/images/package.png" class="myicons" slot="start"></ion-img>
        <p class="localheader">Package Description</p>
      </ion-button>
    </ion-col>
    </ion-row>
    <div *ngSwitchCase='package'>
      <ion-grid>
        <form name="package_detailsForm" #package_detailsForm="ngForm">
          <p>Is package greater than indomie carton size ?</p>
          <ion-grid>
            <ion-radio-group>
            <ion-row>
              <ion-col>

                   <ion-item lines="none">  
                    <ion-checkbox slot="start" class="checker" [checked]="checkedIdx" (ionChange)="yesfn($event)"></ion-checkbox>
                      <ion-label>Yes</ion-label>
                 </ion-item>
               </ion-col>
          
              <ion-col>
                  <ion-item lines="none"> 
                    <ion-checkbox slot="start" class="checker" [checked]="!checkedIdx"  (ionChange)="nofn($event)"></ion-checkbox>
                      <ion-label>No</ion-label>
                 </ion-item>
              </ion-col>
          </ion-row>   
        </ion-radio-group>      
            <ion-row>
              <p>*Insurance will cost you 1% of the package value</p>
              <ion-item lines="none">  
                <ion-checkbox slot="start" class="checker" name="package_insurance" lines="none" [(ngModel)]="package_details.package_insurance" required></ion-checkbox>
                <ion-label style="font-size: 12px;">Insure</ion-label>
              </ion-item>
            </ion-row>
          </ion-grid>
        </form> 

      </ion-grid>
      <div style="display:flex;">
          <ion-button class="cta1" expand="block" fill="outline">
            <ion-label>Cancel</ion-label>
          </ion-button>
          <ion-button class="cta" expand="block" fill="default">
            <ion-label>Apply</ion-label>
          </ion-button>
        </div>
      </div>
  </ion-grid>
</ion-content>