<ion-header class="ion-no-border">
 
  <ion-toolbar>
    
    <ion-buttons slot="start" (click)="goback()">
      <ion-icon name="arrow-back-outline" class="iconstyle1" ></ion-icon>
  </ion-buttons>
  <ion-title>Terms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<div style="padding: 10px;">
<h4>Article 1</h4>
<h6>Who May Use the Services</h6>
<p>When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us.</p>
<h4>Policy</h4>
<p>
  When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us.
</p>
<div style="padding: 5px;"></div>
<ion-button  class="pryColor" (click)="contineandagree()"  expand="block" >CONTINUE & AGREE</ion-button>
</div>
</ion-content>
