<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-img src="assets/images/success_pay.png" class="pay_success" style="box-shadow: none !important"></ion-img>
    <ion-footer style="display: block;" lines="none">
      <h5 style="text-align: center; color: #2A2E43;">Payment Successful!</h5>
    </ion-footer>
  </ion-row>
</ion-grid>
</ion-content>
