<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="activetab">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="localdelivery" fill="clear" (click)="myfunction(cash_payment)" #cash_payment>
          <ion-img src="assets/images/cash_pay.png" class="myicons" slot="start"></ion-img>
          <p class="localheader">Cash</p>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" class="localdelivery" fill="clear" (click)="myfunction(card_payment)" #card_payment>
          <ion-img src="assets/images/add_card.png" class="myicons" slot="start"></ion-img>
          <p class="localheader">Add Card</p>
        </ion-button>
      </ion-col>
    </ion-row>  
    <ion-card *ngSwitchCase="card_payment">
    <ion-row>
      <ion-row>
        <ion-col size="7">
            <ion-label position="floating" class="pay-title">Card Number</ion-label>
            <ion-input type="text" placeholder="0123 4567 8910 1112" style="font-size: 8pt; border-color: #EF6102;" (ionFocus)=changecolor($event)></ion-input>
        </ion-col>
        <ion-col size="5">
            <ion-label position="floating" class="pay-title">Expires</ion-label>
            <ion-input type="text" placeholder="MM/YY" style="font-size: 8pt;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="7" style="border: 10pt;">
              <ion-label position="floating" class="pay-title">Name</ion-label>
              <ion-input type="text" placeholder="JOHN DOE" style="font-size: 8pt;"></ion-input>
          </ion-col>
          <ion-col size="5">
            <ion-label position="floating" class="pay-title">CVC</ion-label>
              <ion-input type="text" placeholder="000" style="font-size: 8pt;"></ion-input>
          </ion-col>
      </ion-row> 
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-button expand="block" class="localdelivery" fill="clear" (click)="myfunction(cash_payment)" #cash_payment>
        <ion-img src="assets/images/promo_code.png" class="myicons" slot="start"></ion-img>
        <p class="localheader">Apply Coupon</p>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>  
</ion-content>
