
.localdelivery {
    border: none;
    color: #78849E;
    font-size: 13px;
    background-color: #E2E4EB;
    text-transform: capitalize;

}

.myicons {
    width: 18px;
    height: 15px;

}

.localheader {
    width: 80%;
}