<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Local delivery {{mySelectedBookingCategory.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid [ngSwitch]="activetab">
    <ion-row>
      <ion-col>
        <ion-button [disabled]="pickupDetailsPanel" expand="block" class="localdelivery" fill="clear" (click)="myfunction(pickup)" #pickup>
          <ion-img src="assets/images/pickup.png" class="myicons" slot="start"></ion-img>
          <p class="localheader">Pickup Details</p>
        </ion-button>
      </ion-col>
    </ion-row>
    
      <div *ngSwitchCase='pickup'>
    <form name="pickup_detailsForm" id="pickup_detailsForm" #pickup_detailsForm="ngForm">
      <ion-grid>
          <ion-select (ionChange)="validatePickupForm(); getLocations()" placeholder="Booking Category" name="booking_category" class="select" [(ngModel)]="pickup_details.booking_category" #booking_category="ngModel" required>
            <ion-select-option [value]="category.id" *ngFor="let category of bookingCategories">{{category.name}}</ion-select-option>
          </ion-select>
          <div *ngIf="booking_category.invalid && (booking_category.dirty || booking_category.touched)" class="error">
            <div *ngIf="booking_category.errors.required">
              Booking Category is required
            </div>
        </div>
          <!-- <div *ngIf="local_deliveryModel.booking_category.invalid && (booking_category.dirty || booking_category.touched)" ></div> -->
          <div style="padding: 5px;"></div>
          <ion-input (keyup)="validatePickupForm()" (ionChange)="validatePickupForm()" type="text" placeholder="Name" [(ngModel)]="pickup_details.pickup_name" name="pickup_name" id="pickup_name" #pickup_name="ngModel" required></ion-input>
          <div *ngIf="pickup_name.invalid && (pickup_name.dirty || pickup_name.touched)" class="error">
            <div *ngIf="pickup_name.errors.required">
              Pick-up Name is required
            </div>
        </div>
          <div style="padding: 5px;"></div>
          <ion-input (keyup)="validatePickupForm()" (ionChange)="validatePickupForm()" type="text" placeholder="Address" [(ngModel)]="pickup_details.pickup_address" name="pickup_address" id="pickup_address" #pickup_address="ngModel" required></ion-input>
          <div *ngIf="pickup_address.invalid && (pickup_address.dirty || pickup_address.touched)" class="error">
            <div *ngIf="pickup_address.errors.required">
              Pick-up Address is required
            </div>
        </div>
          <div style="padding: 5px;"></div>
          <ion-select (ionChange)="validatePickupForm()" placeholder="Closest Bus Stop" name="pickup_bus_stop" class="select" [(ngModel)]="pickup_details.pickup_busstop" required>
            <ion-select-option [value]="location.id" *ngFor="let location of locations">{{location.name}}</ion-select-option>
          </ion-select>
          <ion-row style="border-radius: 5px;border: 0.5px solid #d6d3d3;">
            <ion-col size=2>
              <div style="padding: 5px;"></div>
              <span *ngFor="let imgSrc of selectedFlag">
                <img style="width: 30px;height:16px;" [src]="imgSrc.flag" />
              </span>
              
            </ion-col>
            <ion-col size=3>
              <ion-select #selectCount (click)="openCountries()" (ionChange)="getCountryFlag(selectCount.value,'pickup')"  [(ngModel)]="alpha2Code"  cancelText="Cancel" name="alpha2Code" okText="OK" required>
                <ion-select-option *ngFor="let Ccode of ICountrys" value="{{Ccode.alpha2Code}}">
                  {{Ccode.name}}
                </ion-select-option>             
              </ion-select>
            </ion-col>
            <ion-col size=7>
              <ion-input #phone (keyup)="phoneValidation(phone.value,'pickup')" placeholder="Phone Number" type="tel" [(ngModel)]="pickup_details.pickup_phone" name="pickup_phone" id="pickup_phone" #pickup_phone="ngModel"  required style="border: none;"></ion-input>
       
            </ion-col>
          </ion-row> 
          <div style="padding: 2px;"></div>
          <div *ngIf="phoneError && (pickup_phone.dirty || pickup_phone.touched)" class="error">
            valid Phone Number  is required
        </div>
          <div style="padding: 5px;"></div>
          <ion-input (keyup)="validatePickupForm()" (ionChange)="validatePickupForm()" type="text" placeholder="Pickup Landmanrk" [(ngModel)]="pickup_details.pickup_landmark" name="pickup_landmark" id="pickup_landmark" #pickup_landmark="ngModel" required></ion-input>
          <div *ngIf="pickup_landmark.invalid && (pickup_landmark.dirty || pickup_landmark.touched)" class="error">
            <div *ngIf="pickup_landmark.errors.required">
              Pick-up Landmark is required
            </div>
        </div>
          <div style="padding: 5px;"></div>

        </ion-grid>
  </form></div>
    
  <ion-row>
      <ion-col>
      <ion-button [disabled]="DeliveryDetailsPanel" expand="block" class="localdelivery" fill="clear" (click)="myfunction(delivery)" #delivery>
        <ion-img src="assets/images/delivery.png" class="myicons"></ion-img>
        <p class="localheader">Delivery Details</p>
      </ion-button>
      </ion-col>
    </ion-row>
    <div *ngSwitchCase='delivery'>
      <ion-grid>
        <ion-select *ngIf="selectedBookingCategory.estimatedPackageWeight"  (ionChange)="validateDeliveryForm()" placeholder="Delivery Type" name="booking_category" class="select" [(ngModel)]="local_delivery.categioryId" #booking_category="ngModel" required>
          <ion-select-option [value]="2" >Standard delivery</ion-select-option>
          <ion-select-option [value]="1" >Express delivery</ion-select-option>
        </ion-select>
        <form name="delivery_detailsForm" #delivery_detailsForm="ngForm">
          <ion-datetime [min]="minDeliveryDate" (ionChange)="validateDeliveryForm()" #delivery_date="ngModel" name="delivery_date" id="delivery_date" [(ngModel)]="local_delivery.delivery_date" displayFormat="DD/MM/YYYY" placeholder="Delivery Date" required></ion-datetime>
          <div *ngIf="delivery_date.invalid && (delivery_date.dirty || delivery_date.touched)" class="error">
            <div *ngIf="delivery_date.errors.required">
              Delivery Date is required
            </div>
        </div>
          <div style="padding: 5px;"></div>
          <ion-input (keyup)="validateDeliveryForm()" type="text" #delivery_name="ngModel" name="delivery_name" placeholder="Receiver's Name" [(ngModel)]="local_delivery.delivery_name" required></ion-input>
          <div *ngIf="delivery_name.invalid && (delivery_name.dirty || delivery_name.touched)" class="error">
            <div *ngIf="delivery_name.errors.required">
              Delivery Name is required
            </div>
        </div>
          <div style="padding: 5px;"></div>
          <ion-input (keyup)="validateDeliveryForm()" type="text" #delivery_address="ngModel" name="delivery_address" placeholder="Address" [(ngModel)]="local_delivery.delivery_address" required></ion-input>
          <div *ngIf="delivery_address.invalid && (delivery_address.dirty || delivery_address.touched)" class="error">
            <div *ngIf="delivery_address.errors.required">
              Delivery Address is required
            </div>
        </div>
          <div style="padding: 5px;"></div>
          <ion-row style="border-radius: 5px;border: 0.5px solid #d6d3d3;">
            <ion-col size=2>
              <div style="padding: 5px;"></div>
              <span *ngFor="let imgSrc of selectedFlag">
                <img style="width: 30px;height:16px;" [src]="imgSrc.flag" />
              </span>
              
            </ion-col>
            <ion-col size=3>
              <ion-select #selectCount (click)="openCountries()" (ionChange)="getCountryFlag(selectCount.value,'delivery')"  [(ngModel)]="deliveryAlpha2Code"  cancelText="Cancel" name="deliveryAlpha2Code" okText="OK" required>
                <ion-select-option *ngFor="let Ccode of ICountrys" value="{{Ccode.alpha2Code}}">
                  {{Ccode.name}}
                </ion-select-option>             
              </ion-select>
            </ion-col>
            <ion-col size=7>
              <ion-input #deliveryphone (keyup)="phoneValidation(deliveryphone.value,'delivery')" placeholder="Phone Number" type="tel" [(ngModel)]="local_delivery.delivery_phone" name="delivery_phone" id="delivery_phone" #deliveryphone="ngModel"  required style="border: none;"></ion-input>
       
            </ion-col>
          </ion-row> 
          <div style="padding: 2px;"></div>
          <div *ngIf="deliveryphoneError" class="error">
            valid Phone Number  is required
        </div>
         
          <div style="padding: 5px;"></div>
          <ion-input (keyup)="validateDeliveryForm()" type="text" #delivery_landmark="ngModel" name="delivery_landmark" placeholder="Pickup Landmanrk" [(ngModel)]="local_delivery.delivery_landmark" required></ion-input>
          <div *ngIf="delivery_landmark.invalid && (delivery_landmark.dirty || delivery_landmark.touched)" class="error">
            <div *ngIf="delivery_landmark.errors.required">
              Delivery Landmark is required
            </div>
        </div>
          <div style="padding: 5px;"></div>
          <ion-select (ionChange)="validateDeliveryForm()" placeholder="Closest Bus Stop" name="pickup_bus_stop" class="select" [(ngModel)]="local_delivery.delivery_busstop" required>
            <ion-select-option [value]="location.id" *ngFor="let location of locations">{{location.name}}</ion-select-option>
          </ion-select>
        </form>
      </ion-grid>
    </div>

    <ion-row>
      <ion-col>
      <ion-button [disabled]="packageDeliveryPanel" expand="block" class="localdelivery" fill="clear" (click)="myfunction(package)" #package> 
        <ion-img src="assets/images/package.png" class="myicons" slot="start"></ion-img>
        <p class="localheader">Package Description</p>
      </ion-button>
    </ion-col>
    </ion-row>
    <div *ngSwitchCase='package'>
      <ion-grid>
        <!-- <form name="package_detailsForm" #package_detailsForm="ngForm"> -->
          <ion-textarea [(ngModel)]="package_details.package_description" placeholder="Package description"></ion-textarea>
          <!-- <app-text-input [(value)]="package_details.package_description" [validators]="[]" type='text' [extraErrors]="[]" label='' name="package_description" placeholder='Package description'></app-text-input> -->
          <div style="padding: 5px;"></div>
          <app-text-input *ngIf="selectedBookingCategory.estimatedPackageWeight" [(value)]="package_details.package_weight" [validators]="[]" type='number' [extraErrors]="[]" label='' name="package_weight" placeholder='Estimated package weight'></app-text-input>
          <p>Is package greater than indomie carton size ?</p>
          <ion-grid>
            <app-checkbox [(value)]="showSize"></app-checkbox>
            <app-text-input *ngIf="showSize" [(value)]="package_details.package_size" [validators]="[]" type='number' [extraErrors]="[]" label='' name="package_size" placeholder='No of indomie carton'></app-text-input>
            <ion-row>
              <p>*Insurance will cost you 1% of the package value</p>
              <ion-item lines="none">  
                <ion-checkbox slot="start" class="checker" name="package_insurance" lines="none" [(ngModel)]="package_details.package_insurance" required></ion-checkbox>
                <ion-label style="font-size: 12px;">Insure</ion-label>
              </ion-item>
            </ion-row>
            <ng-template [ngIf]="package_details.package_insurance">
              <app-text-input [(value)]="package_details.package_value" [validators]="[]" type='number' [extraErrors]="[]" label='' name="package_value" placeholder='Package value'></app-text-input>
              <div style="padding-top: 10px">{{package_details.package_value | currency: 'NGN'}}</div>
            </ng-template>
            <ion-row>
              <p>*Do you require cash collection from recipient ?</p>
              <ion-item lines="none">  
                <ion-checkbox slot="start" class="checker" name="package_insurance" lines="none" [(ngModel)]="package_details.cash_collection" required></ion-checkbox>
                <ion-label style="font-size: 12px;">Collect cash</ion-label>
              </ion-item>
            </ion-row>
              <app-text-input *ngIf="package_details.cash_collection" [(value)]="package_details.cash_collection_amount" [validators]="[]" type='number' [extraErrors]="[]" label='' name="cash_amount" placeholder='Cash collection amount'></app-text-input>
              <div style="padding: 5px;"></div>
              <app-text-input *ngIf="package_details.cash_collection" [(value)]="package_details.account_number" [validators]="[]" type='text' [extraErrors]="[]" label='' name="cash_bank" placeholder='Cash collection account number'></app-text-input>
              <ion-select name="delivery_type" class="select" [(ngModel)]="package_details.payment_type" #booking_category="ngModel" required placeholder="Payment type">
                <ion-select-option [value]="mode.id" *ngFor="let mode of paymentTypes">{{mode.name}}</ion-select-option>
              </ion-select>
              <div style="padding: 5px;"></div>
          </ion-grid>
        <!-- </form>  -->

      </ion-grid>
      <div style="display:flex;">
          <ion-button class="cta1" expand="block" fill="outline" (click)="navCtrl.back()">
            <ion-label>Cancel</ion-label>
          </ion-button>
          <ion-button class="cta" expand="block" [disabled]="disableApplyButton" fill="default" (click)="submitBooking()">
            <ion-label>Apply</ion-label>
          </ion-button>
        </div>
      </div>  
      
      <ion-row *ngIf="!singleDelivery">
        <ion-col>
          <ion-button expand="block" class="localdelivery" fill="clear" [disabled]="true">
            <ion-img src="assets/images/pickup.png" class="myicons" slot="start"></ion-img>
            <p class="localheader">Add Another Order</p>
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>