/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik/Rubik-Regular.ttf');
  }
  
  @font-face {
    font-family: 'avenir_ff_black';
    src: url('/assets/fonts/avenir_ff/AvenirLTStd-Black.otf');
  }
  @font-face {
    font-family: 'avenir_ff_book';
    src: url('/assets/fonts/avenir_ff/AvenirLTStd-Book.otf');
  }
  @font-face {
    font-family: 'avenir_ff_roman';
    src: url('/assets/fonts/avenir_ff/AvenirLTStd-Roman.otf');
  }
  ion-content{
    font-family: 'avenir_ff_roman';
    font-size: 12px;
    color: #454F63;
  }
  ion-content p{
    color:#78849E;
  }
.pryColor{
    --background: #EF6102;
    text-align: center;
    font-size: 12px;
    color:#f4f4f4;
    font-family: 'avenir_ff_roman';
    font-style:normal;
    font-weight: lighter;
    --border-radius: 5px;
    height: 35px;
}
.error {
    color: #ea6153;
    font-weight: normal;
    text-align: left;
    font-size: 12px;
  }
.secColor{
    --background: transparent;
    text-align: center;
    font-size: 12px;
    color:#EF6102;
    font-family: 'avenir_ff_roman';
    font-style:normal;
    border-radius: 5px;
    height: 35px;
    border: 1px solid #EF6102;
}

.menubox{
    position: relative;
    width: inherit;
    height: 100%;
  }
  
  .overlay {
    position:absolute;
    width: inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:9999;
    color: #FFFFFF;
    border-radius: 3px;  
    text-align: left;
    font-family: 'avenir_ff_black';
    font-style: bold;
    font-weight: bolder;
    font-size: 24px;
    line-height: 21px;
  }
  
  
  .overlay:before {
    // content: '';
    display: inline-block;
    // height: 100%;
    vertical-align: top;
    // margin-right: -0.25em;
  }
  
  .txt {
    display: inline-block;
    vertical-align: top;
    // padding: 10px 15px;
    position:relative;  
    font-family: 'avenir_ff_black';
    font-style: bold;
    font-weight: bolder;
    font-size: 24px;
  }

  .txt p{
    font-family: 'avenir_ff_roman';
    font-weight: lighter;
    font-style:normal;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
  }

  a{
      text-decoration: none;
      color:#EF6102;
  }

  ion-toolbar{
    text-align: center;
    padding: 5px;
    font-family: 'avenir_ff_roman';
    font-weight: lighter;
    font-style:bold;
    font-size: 12px;
}

.zindex{
  z-index: 0;
}

.headertitle{
  font-family: 'avenir_ff_roman';
  font-weight: normal;
  font-style:normal;
  font-size: 15px;
}

.iconstyle1{
  font-style:bold;
  font-size: 24px;
}

ion-input{
  padding: 8px 8px 8px 20px;
  background-color:inherit;
  border-radius: 5px;
  color:#A1A3AC ;
  font-size: 12px;
  font-family: 'avenir_ff_roman';
  // box-shadow: 0px 4px 16px #455B6314;
  height: 35px;
  border: 0.5px solid #d6d3d3;

}

ion-datetime{
  padding: 8px 8px 8px 20px;
  background-color:inherit;
  border-radius: 5px;
  color:#A1A3AC ;
  font-size: 12px;
  font-family: 'avenir_ff_roman';
  // box-shadow: 0px 4px 16px #455B6314;
  height: 35px;
  border: 0.5px solid #d6d3d3;
}

.otherbtn{
  text-transform: none;
  border-radius: 5px;
}
