<ion-content>

 <div #searbarContainer style="width: 100%;" class="searchContainer">
  <div style="padding: 17px;"></div>
  <div style="background-color: #ffff; border-radius: 4px;">
    <ion-row>

      <ion-col sizeLg="2" sizeMd="2" sizesm="2" sizeXs="2" style="height: 42px;" >
      <div style="padding: 2px;"></div>
        <ion-buttons (click)="openMenu()">
          <ion-icon name="menu-outline" class="iconstyle1"></ion-icon>
      </ion-buttons>
     </ion-col>
     <ion-col sizeLg="8" sizeMd="8" sizesm="8" sizeXs="8" style="height: 42px;">
      <ion-input #searchbar  placeholder="Address" type="text" ></ion-input>
    </ion-col>
    <ion-col sizeLg="2" sizeMd="2" sizesm="2" sizeXs="2" style="height: 42px;">
      <div style="padding: 2px;"></div>
      <ion-avatar>
        <img *ngIf="userRole == 'Customer' || userRole == 'Partner'" (click)="gotoprofile()" src="{{Urlbase}}{{usersdata?.customer?.companyLogo}}" onError="this.src='assets/images/female.png'" class="avatborder" >
        <img *ngIf="userRole == 'Rider'" (click)="gotoprofile()" src="{{Urlbase}}{{usersdata?.dispatcher?.profilePicUrl}}" onError="this.src='assets/images/female.png'" class="avatborder" >
      
      </ion-avatar>
    </ion-col>
     </ion-row>
    
  
    
  </div>
  
  </div>
  
  <div id="map" [ngClass]="{'riderMap': AuthenService.globalUserRole == 'Rider', 'customerPartnerMap' :AuthenService.globalUserRole != 'Rider' }"> </div>



  <div class="selectoptioncontainer" *ngIf="AuthenService.globalUserRole == 'Customer' || AuthenService.globalUserRole == 'Partner'">
  <p>Select an option:</p>
  <ion-row class="dashboard-menu">
  <ion-col col-4 class="menu-item " >
    <a routerLink="/localdelivery/bookingoptions">
      <!-- <a routerLink="/localdelivery/payment"> -->
    <div style="padding:5px"></div>
    <img src="assets/logisticMobileIcon/Bike.svg">
    <p>Local Delivery</p>
  </a>
  </ion-col>
  <ion-col col-4 class="menu-item" >
    <a routerLink="/international-delivery">
    
      <div style="padding:5px"></div>
      <img src="assets/logisticMobileIcon/Airplane.svg" />
      
      <p>International Delivery</p>
    </a>
  </ion-col>
  <ion-col col-4 class="menu-item" >
    <a routerLink="/checkout">
      <div style="padding:5px"></div>
      <img src="assets/logisticMobileIcon/Checkoutassistance.svg">
      <p>Checkout Assistance</p>
    </a>
    
  </ion-col>
</ion-row>

  </div>

  <div class="selectoptioncontainer" *ngIf="AuthenService.globalUserRole == 'Rider' ">
    <p style="text-align: center;"> 
       <span *ngIf="riderStatus == 2">You are Offline!</span>
      <span *ngIf="riderStatus == 1">You are Online!</span>
      <span *ngIf="riderStatus == 5">You are Available!</span>
      <span *ngIf="riderStatus == 8">Your Profile is pending Approval!</span>
    </p>
    <div class="circleContainer" (click)="toggledriverStatus()" *ngIf="[1,2].includes(riderStatus)">
      <div [ngClass]="{'riderStatusClass': riderStatus == '2', 'riderStatusClass2': riderStatus == '1'}" >
        <div [ngClass]="{'innerriderStatusClass': riderStatus == '2', 'innerriderStatusClass2': riderStatus == '1'}">
           <span *ngIf="riderStatus == 1">STOP</span>
          <span *ngIf="riderStatus == 2">GO</span>
        </div>
      
      </div>
    </div> 
    <div class="circleContainer" (click)="toggledriverStatus()" *ngIf="riderStatus == 5">
      <div class="riderStatusClass2" >
        <div class="innerriderStatusClass2">
           <span *ngIf="riderStatus == 5">STOP</span>      
        </div>      
      </div>
    </div>   
    </div>
</ion-content>
