<ion-content>

 <div #searbarContainer style="width: 100%;" class="searchContainer">
  <div style="padding: 17px;"></div>
  <div style="background-color: #ffff; border-radius: 4px;">
    <ion-row>

      <ion-col sizeLg="2" sizeMd="2" sizesm="2" sizeXs="2" style="height: 42px;" >
      <div style="padding: 2px;"></div>
        <ion-buttons (click)="openMenu()">
          <ion-icon name="menu-outline" class="iconstyle1"></ion-icon>
      </ion-buttons>
     </ion-col>
     <ion-col sizeLg="8" sizeMd="8" sizesm="8" sizeXs="8" style="height: 42px;">
      <ion-input #searchbar  placeholder="Address" type="text" ></ion-input>
    </ion-col>
    <ion-col sizeLg="2" sizeMd="2" sizesm="2" sizeXs="2" style="height: 42px;">
      <div style="padding: 2px;"></div>
      <ion-avatar>
        <img *ngIf="userRole == 'Customer' || userRole == 'Partner'" (click)="gotoprofile()" src="{{usersdata?.customer?.companyLogo}}" onError="this.src='assets/images/female.png'" class="avatborder" >
        <img *ngIf="userRole == 'Rider'" (click)="gotoprofile()" src="{{usersdata?.dispatcher?.profilePicUrl}}" onError="this.src='assets/images/female.png'" class="avatborder" >
      
      </ion-avatar>
    </ion-col>
     </ion-row>
    
  
    
  </div>
  
  </div>
  
  <div id="map" [ngClass]="{'riderMap': userRole == 'Rider', 'customerPartnerMap' :userRole != 'Rider' }"> </div>



  <div class="selectoptioncontainer" *ngIf="userRole == 'Customer' || userRole == 'Partner'">
  <p>Select an option:</p>
  <ion-row class="dashboard-menu">
  <ion-col col-4 class="menu-item " >
    <a routerLink="/localdelivery/bookingoptions">
      <!-- <a routerLink="/localdelivery/payment"> -->
    <div style="padding:5px"></div>
    <img src="assets/logisticMobileIcon/Bike.svg">
    <p>Local Delivery</p>
  </a>
  </ion-col>
  <ion-col col-4 class="menu-item" >
    <a routerLink="/international-delivery/delivery-type">
    
      <div style="padding:5px"></div>
      <img src="assets/logisticMobileIcon/Airplane.svg" />
      
      <p>International Delivery</p>
    </a>
  </ion-col>
  <ion-col col-4 class="menu-item" >
    <a routerLink="/checkout">
      <div style="padding:5px"></div>
      <img src="assets/logisticMobileIcon/Checkoutassistance.svg">
      <p>Checkout Assistance</p>
    </a>
    
  </ion-col>
</ion-row>

  </div>

  <div class="selectoptioncontainer" *ngIf="userRole == 'Rider' ">
    <p style="text-align: center;">You are Offline!</p>
    <div class="circleContainer">
      <div class="riderStatusClass">
        <div class="innerriderStatusClass">
          GO
        </div>
      
      </div>
    </div> 

  
    </div>
</ion-content>
