<ion-header class="zindex">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1" style="color: #454F63;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headertitle" >Privacy Policy </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px;">
    <h5 ><b>HOR Logistics Privacy Policy</b> </h5>
    <p>
      This privacy policy will help you understand how HOR Logistics uses and protects the data you provide to us when you visit and use our website.
    </p>
    <p>
      We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page. 
    </p>
    <h5 ><b>What User Data We Collect</b> </h5>
    <p>
      When you visit the website, we may collect the following data: 
    </p>
    <ul>
      <li>
        Your IP address. 
      </li>
      <li>
        Your contact information and email address.  
      </li>
      <li>
        Other information such as interests and preferences. 
      </li>
      <li>
        Data profile regarding your online behavior on our website.
      </li>
    </ul>
    <h5 ><b>Why We Collect Your Data </b> </h5>
    <p>We are collecting your data for several reasons: </p>
    <ul>
      <li>
        To better understand your needs.
      </li>
      <li>
        To improve our services. 
      </li>
      <li>
        To send you emails containing the information we think you may need
      </li>
      <li>
        To customize our website according to your online behavior and personal preferences. 
      </li>
    </ul>
    <h5 ><b>Safeguarding and Securing the Data</b> </h5>
    <p>
      HOR Logistics is committed to securing your data and keeping it confidential. We have done all in our power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online. 
    </p>
    <p>
      HOR Logistics will not lease, sell or distribute your personal information to any third parties, unless we have your permission. We might do so if the law forces us. Your personal information will be used when we need to send you promotional materials if you agree to this privacy policy. 
    </p>
    <h5 ><b>Links to Other Websites</b> </h5>
    <p>
      Our website contains links that lead to other websites. If you click on these links HOR Logistics is not held responsible for your data and privacy protection. Visiting those websites is not governed by this privacy policy agreement. Make sure to read the privacy policy documentation of the website you go to from our website. 
    </p>
    </div>
</ion-content>
