<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline" class="iconstyle1"  style="color: #454F63;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headertitle" slot="end"><a href="javascript:void(0)" (click)="userlogin()">Sign In</a> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div style="padding:25px;">
    <div style="color: #303030;text-align: left;">
      <div class="txt">
        <h6>Create your Account</h6>
      </div>
      </div> 
      <div style="padding: 7px;"></div>
      <form name="regForm" id="regForm" #regForm="ngForm">
    
        <div>
          <span *ngIf="customerType == 'partner'">
            <ion-label for="" class="control-label">Business Name</ion-label>
            <div style="padding: 5px;"></div>
            <ion-input placeholder="Business Name" type="text" name="businessName" id="businessName" [(ngModel)]="regUser.businessName" #businessName="ngModel" ></ion-input>
            <div *ngIf="businessName.invalid && (businessName.dirty || businessName.touched) " class="error">
              <div *ngIf="(businessName.errors.required || businessName.errors)">
                Business Name is required
              </div>
          </div>
        </span>
          <span *ngIf="customerType == 'customer' || 'rider'">
          <ion-label for="" class="control-label">Full Name</ion-label>
          <div style="padding: 5px;"></div>
          <ion-input placeholder="Full Name" type="text" name="fullName" id="fullName" [(ngModel)]="regUser.fullName" #fullName="ngModel"  ></ion-input>
          <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched) " class="error">
            <div *ngIf="(fullName.errors.required || fullName.errors)">
              Full Name is required
            </div>
        </div>
      </span>
        <div style="padding: 5px;"></div>
        <span *ngIf="customerType == 'partner'">
          <ion-label for="" class="control-label">Business Anniversary</ion-label>
          <div style="padding: 5px;"></div>
          <ion-datetime style="width: 100%;" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" [(ngModel)]="regUser.businessAnniversary" #businessAnniversary="ngModel" name="businessAnniversary" id="businessAnniversary" ></ion-datetime>
          <div *ngIf="businessAnniversary.invalid && (businessAnniversary.dirty || businessAnniversary.touched) " class="error">
            <div *ngIf="(businessAnniversary.errors.required || businessAnniversary.errors)">
              Business Anniversary is required
            </div>
        </div>
      </span>
       
      <div style="padding: 5px;"></div>
          <ion-label for="" class="control-label">Email</ion-label>
          <div style="padding: 5px;"></div>
          <ion-input placeholder="Email" type="email" name="email" id="email" [(ngModel)]="regUser.email" #email="ngModel" [pattern]="emailPattern" required></ion-input>
          <div *ngIf="email.invalid && (email.dirty || email.touched) " class="error">
            <div *ngIf="(email.errors.required || email.errors)">
              valid email is required
            </div>
        </div>
        <div style="padding: 5px;"></div>
          <ion-label for="" >Password</ion-label>
          <div style="padding: 5px;"></div>
          <ion-input  placeholder="Password" type="password" id="password" name="password" #password="ngModel"  [(ngModel)]="regUser.password" required></ion-input>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
            <div *ngIf="password.errors.required">
              Password is required
            </div>
        </div>

        <div style="padding: 5px;"></div>
        <ion-label for="" >Confirm Password</ion-label>
        <div style="padding: 5px;"></div>
        <ion-input  placeholder="Confirm Password" type="password" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"  [(ngModel)]="regUser.confirmPassword" required></ion-input>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error">
          <div *ngIf="confirmPassword.errors.required">
          Confirm Password is required
          </div>
      </div>
      <div *ngIf="regUser.confirmPassword != regUser.password" class="error">
        Password does not match
      </div>
        </div>
       <div style="padding: 5px;"></div>

           <div style="padding: 10px;"></div>
          <ion-button [disabled]="regForm.invalid" class="pryColor"  expand="block" (click)="registerUser()">CONTINUE</ion-button>
     
          <div style="color: #313131;text-align: center;" *ngIf="customerType == 'customer'">
            <div class="txt">
              <h6>Or Sign up with</h6>
            </div>
            </div> 
            <ion-row *ngIf="customerType == 'customer'">
              <ion-col size=6>
                <ion-button class="otherbtn" (click)="doLogin()" color="danger" expand="block" fill="outline">
                  <ion-icon slot="start"   name="logo-google"></ion-icon>                  
                  Google
                </ion-button>
                </ion-col>
                <ion-col size=6>
                  <ion-button (click)="fblogin()"  class="otherbtn btnfb" expand="block" fill="outline">
                    <ion-icon slot="start"   name="logo-facebook"></ion-icon>                  
                    Facebook                   
                  </ion-button>
               
                </ion-col>
                </ion-row>

                <p style="text-align: center;font-size: 12px;">
                  By signing up you agree to the <br><a href="javascript:void(0)" (click)="gototerms()">Terms & Conditions </a> 
                </p>
            
           
      </form>
  </div>
</ion-content>